
body{
background-color:rgb(217, 238, 255);
}
h1{
	background-color:skyblue;

text-align:center;
font-family:Lucida Handwriting ;
font-size:80px;
font-size:40px;
}
p{
	
	text-align:center;
	font-size:30px;
}